DirectoryIndex index.php

RewriteEngine On

RewriteRule    ^user/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$                                       index.php?u=$1&p=$2      [QSA,NC,L]    # Handle user
RewriteRule    ^photo/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/(.*)$   index.php?u=$1&i=$2&p=$3 [QSA,NC,L]    # Handle photo
RewriteRule    ^rss/([A-Za-z0-9-]+)/?$                       rss.php?u=$1      [QSA,NC,L]    # Handle rss
RewriteRule    ^login/                                                        login.php           [QSA,NC,L]    
RewriteRule    ^upload/                                                       upload.php           [QSA,NC,L]
RewriteRule    ^privacy/                                                       privacy.php           [QSA,NC,L]
RewriteRule    ^edit/([A-Za-z0-9-]+)/                                         edit.php?i=$1       [QSA,NC,L]    
RewriteRule    ^edit/                                                         edit.php           [QSA,NC,L] 
RewriteRule    ^logout/                                                       logout.php           [QSA,NC,L] 
RewriteRule    ^signup/([A-Za-z0-9-]+)/                                       resetpass.php?f=s&t=$1       [QSA,NC,L]   
RewriteRule    ^reset/([A-Za-z0-9-]+)/                                        resetpass.php?f=r&t=$1       [QSA,NC,L]   